.article .tags {
    display: flex;
    flex-direction: row;
    padding: 2px 5px;
    margin: 0px;
    font-size: 17px;
}

.article .tag {
    font-size: smaller;
    margin: 0px;
    padding:0ox;
    padding: 1px 8px 3px;
}
.article .tag-wrapper {
    display: flex;
    flex-direction: row;
    margin: 0px 7px;
    background-color: rgb(154, 231, 255);
    border-radius: 8px;
    overflow:hidden;
}

.article .tag {
    padding: 1px 8px 3px;
    outline: inherit;
    border: inherit;
}

.article .tag.add , .article .tag.delete {
    padding: 2px 8px;
}
.article .tag.delete {
    box-shadow: inset 1px 0px 0px rgb(133, 133, 133)
}
.article .editing .tag:hover {
    cursor: pointer;
    box-shadow: inset 0px 0px 8px rgb(111, 145, 255),
        inset 0px 0px 4px rgb(33, 74, 255)
    ;
}

.article .editing .tag:active {
    cursor: pointer;
    box-shadow: inset 0px 0px 16px rgb(92, 130, 255),
        inset 0px 0px 8px rgb(15, 59, 255)
    ;
}
.article .tags .type-area , .article .tags .type-div {
    padding: 0px;
}

.article .tags .type-area .text-div{
    padding: 3px 8px 5px;
    box-shadow: none;
    outline: none;
}