.about {
    padding: 40px;
    max-width: 90%;
    max-height: 70%;
    position: relative;
}

.about-content {
    overflow-y: scroll;
}

.contact {
    position: absolute;
    bottom: 0px;
    display:  flex;
    flex-direction: row;
}

.contact .key {
    font-weight:600;
    margin: 0px 8px;
    color: var(--grey-darker);
}